
body
    {
      /* background: white; */
      font-family: 'Trocchi', serif;
    }

.cancel-button {
    position: absolute;
    top: 7.5%;
    left: 0.8%;
    text-align: left;
    color: whitesmoke;
    size:75%;
    /* overflow: hidden; */
  }

  .fill-banner {
    height: 6%; 
   position: absolute;
   top: 12%;
   left: 0;
   width: 100%;
   
   /* overflow: hidden; */
 }
 .stripe{
   background: rgb(227,160,4);
   /* color: black; */
   text-align: center;
   /* background: linear-gradient(180deg, rgba(227,160,4,1) 0%, rgba(235,121,0,1) 0%, rgba(244,200,4,1) 100%); */
 }

 .fill-form {
  height: 6%; 
 position: relative;
 text-align: left;
 padding-top: 5%;
 top: 112.5%;
 left: 23%;
 width: 100%;
 color: black;
 /* overflow: hidden; */
}

.modificator{
  width:53%;
}

.banner{
  background-color: black;
}
.left{
  text-align: left;
  padding-left: 70%;}

.left-custom{
  padding-left: 20.5%;}

.right{
  text-align: right;
  padding-right: 70%;}

.center{
  text-align: center;}

.top{
  padding-top: 4%;}

.bottom{
  padding-top: 7%;}

.image{
  position: relative;
  padding-top: -10%;
  width: 55 px;
  height: 55 px;}


.h2mod
{
    color: black;
    align-content: flex-start;
    display: inline-block;
    vertical-align:top;
    height: 30%;
}

.h2modsize{
    font-size: 18 px;
}

.profilePhotoPreview{
  top: 12%;
  left: 15%;
  /* background: black; */
  height: 200px;
  width: 200px;
}

.profilePhotoPreview img{
  width: 100%;
  height: 100%;
}

.button-modifyxD{
  margin-left: 250px !important;
  margin-top: 10px;
} 